<div class="academic-services">
  <div class="table-responsive">
    <table class="table table-sm table-borderless">
      <tr>
        <th scope="row" style="width: 20%; white-space: nowrap;">Organizing</th>
        <td>Main organizer of <a href="https://sites.google.com/view/icra2026-manipulation-robustness" target="_blank">ICRA 2026 Workshop on Manipulation Robustness</a>, Vienna</td>
      </tr>
      <tr>
        <th scope="row">Paper review</th>
        <td>IJRR, RA-L, ICRA, IROS, ISRR</td>
      </tr>
      <tr>
        <th scope="row">Teaching</th>
        <td>Teaching Assistant, Introduction to Robotics, DD2410, KTH (2024, 2025)</td>
      </tr>
      <tr>
        <th scope="row">Talks</th>
        <td>Guest lecture or talks at Duke University (2025), Caltech (2024)</td>
      </tr>
    </table>
  </div>
</div>
